body {
  margin: 0;
  padding: 0;
  background: #050506;
}

.header {
  padding: 30px 50px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo a {
  text-decoration: none;
  transition: color 0.5s ease;
  position: block;
  margin: 0 auto;
}

#logo img {
  width: 200px;
  height: 100px;
}

#logo a:hover {
  opacity: 0.7;
}

/*============ Title =============*/
h1 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: left;
  color: white;
  margin: 30px auto 0 auto;
  justify-content: center;
}

/*============ Page Content =============*/
.grid {
  margin: auto;
  display: grid;
  height: auto;
  width: 1700px;
  padding-left: 20px;
  padding-right: 20px;
  grid-column-gap: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: -20px;
  margin-bottom: 10px;
  grid-row-gap: 10px;
}

.itema {
  grid-column: 1 / span 4;
  overflow: hidden;
  padding: 0 0 0 110px;
}

.itemb {
  grid-column: 1 / span 3;
  overflow: hidden;
}

.itemb2018 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemb2018 img {
  padding: 0 300px 0 200px;
}

.itemb2018 {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.itemb1980 img {
  padding: 0 130px 0 130px;
}


.itemc {
  overflow: hidden;
  padding: 550px 0 0 20px;
  background-image: url("remote/remote.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 120%;
}

.itemc1993 {
  padding: 600px 0 0 20px;
}

.itemc2016 {
  padding: 600px 0 0 20px;
}

/* ======== Comment Pages ==========*/

.itemaCom {
  grid-column: 1 / span 4;
  overflow: hidden;
  padding: 0 0 0 210px;
}

.itembCom {
  grid-column: 1 / span 4;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itembComVideo {
  grid-column: 1 / span 4;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#video1 {
  width: 1200px;
  height: 800px;
  padding: 0 0px 0 0;
}

.itemcCom {
  overflow: hidden;
  padding: 0px 60px  0 40px;
  grid-column: 4;
  background-image: url("remote/remote.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 90%;
  height: 700px;
}

.itemdCom{
  grid-column: 1 / span 3;
  padding: 0 200px 0 px ;
}

.btns {
  padding: 400px 0 0 0;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input, textarea {
  background-color: #eeeeee;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 10px 10px;
  margin: 10px 10px;
}

 input {
   width: 300px;
 }

 textarea {
   width: 700px;
   height: 150px;
 }

button {
  display: block;
  margin: 0 auto;
  font-size: 25px;
  padding: 15px 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  border-radius: 15px;
  border-color: none;
}

button:hover {
  background-color: yellow;
}

hr {
  width: 500px;
  height: 4px;
  background-color: #eeeeee;
  margin: -20px auto 20px auto;
  
}

table {
  color: white;
  border-spacing: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

td {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
  padding: 0px 25px;
  border-radius: 10px;
  width: 1000px
}

h5 {
  font-weight: 800;
  font-size: 25px;
  text-decoration: underline;
}

#time {
  float: right;
}

p {
  margin-top: -15px;
  padding-bottom: 5px;
  font-size: 20px;
}
/*============ Content =============*/
#img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

#video {
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 800px;
}

#audio {
  display: block;
  margin: 20px 700px 0 0;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
  margin: 200px 300px 0 300px;
}

h2:hover {
  color: yellow;
  text-decoration: underline;
}

h3 {
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -3px;
}

/*============ Remote Buttons =============*/
/*============ Created by Codepen user: Valentin =============*/
/*============ Link to original code: https://codepen.io/vescoyez/pen/ulFtz =============*/

nav {
  width: 200px;
  height: 200px;
  background: #82807f;
  border-radius: 50%;
  padding: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: inset -12px 0 12px -6px #40403f, inset 12px 0 12px -6px #40403f,
    inset 0 0 0 12px #40403f, inset 2px 0 4px 12px rgba(0, 0, 0, 0.4),
    1px 0 4px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  position: relative;
  margin: 30px auto;
}

a {
  text-decoration: none;
}

.center-button {
  display: block;
  height: 36%;
  width: 36%;
  position: absolute;
  top: 32%;
  left: 32%;
  background: #40403f;
  border-radius: 50%;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.8);
}

.button {
  display: block;
  width: 46%;
  height: 46%;
  margin: 2%;
  position: relative;
  float: left;
  box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.4), inset 0 0 0 1px #40403f;
}

.button::after {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  background: #82807f;
  position: absolute;
  border-radius: inherit;
}

.button.top {
  border-radius: 100% 0 0 0;
  background: -webkit-radial-gradient(
    bottom right,
    ellipse cover,
    #40403f 35%,
    #40403f 75%
  );
  background: radial-gradient(
    bottom right,
    ellipse cover,
    #40403f 35%,
    #40403f 75%
  );
}

.button.top::after {
  bottom: 0;
  right: 0;
  -webkit-transform: skew(-3deg, -3deg) scale(0.96);
  -moz-transform: skew(-3deg, -3deg) scale(0.96);
  transform: skew(-3deg, -3deg) scale(0.96);
}

.button.right {
  border-radius: 0 100% 0 0;
  background: -webkit-radial-gradient(
    bottom left,
    ellipse cover,
    #40403f 35%,
    #40403f 75%
  );
}

.button.right::after {
  bottom: 0;
  left: 0;
  -webkit-transform: skew(3deg, 3deg) scale(0.96);
  -moz-transform: skew(3deg, 3deg) scale(0.96);
  transform: skew(3deg, 3deg) scale(0.96);
}

.button.left {
  border-radius: 0 0 0 100%;
  background: -webkit-radial-gradient(
    top right,
    ellipse cover,
    #40403f 35%,
    #40403f 75%
  );
  background: radial-gradient(
    top right,
    ellipse cover,
    #40403f 35%,
    #40403f 75%
  );
}

.button.left::after {
  top: 0;
  right: 0;

  -webkit-transform: skew(3deg, 3deg) scale(0.96);
  -moz-transform: skew(3deg, 3deg) scale(0.96);
  transform: skew(3deg, 3deg) scale(0.96);
}

.button.bottom {
  border-radius: 0 0 100% 0;
  background: -webkit-radial-gradient(
    top left,
    ellipse cover,
    #40403f 35%,
    #40403f 75%
  );
  background: radial-gradient(
    top left,
    ellipse cover,
    #40403f 35%,
    #40403f 75%
  );
}

.button.bottom::after {
  top: 0;
  left: 0;
  -webkit-transform: skew(-3deg, -3deg) scale(0.96);
  -moz-transform: skew(-3deg, -3deg) scale(0.96);
  transform: skew(-3deg, -3deg) scale(0.96);
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  padding: 34px 0 0 0;
  margin-left: 12px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  padding: 0 0 0 0;
  margin-left: 28px;
  margin-top: 34px;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  padding: 0 0 0 0;
  margin-left: 25px;
  margin-top: 34px;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  transform: rotate(225deg);
  padding: 0 0 0 0;
  margin-left: 28px;
  margin-top: 30px;
}


i {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  font-size: 42px;
  top: 36%;
  left: 39%;
  text-shadow: 1px 1px 4px #40403f, 0px 0px 0px rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.15);
}
/*
.top i {
  top: 35%;
  left: 41%;
}

.left i {
  top: 41%;
  left: 35%;
}

.right i {
  top: 35%;
  left: 41%;
}

.bottom i {
  top: 39%;
  left: 42%;
}
*/

.user {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: blue;
}

.post { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: white;
  padding: 5px 0 10px 0;
}

.likes{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  color: white;
  margin: 0 0 25px 0;
}

.indent {
  padding-left: 70px;
}

.itemc264{
  grid-column: 3/ span 4;
  overflow: hidden;
  padding: 100px 0px 0 20px;
  background-image: url("remote/remote.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 40%;
}

@media only screen and (max-width: 2100px) {
  .grid {
    width: 1200px;
    grid-column-gap: 10px;
  }

  #video, #video1 {
    width: 1000px;
    height: 600px;
  }

  .itema {
    padding: 0 0 0 20px;
  }

  .itemc {
    padding: 390px 0 0 20px;
    background-size: 130%;
  }

  .itemaCom {
    padding-left: 100px;
  }

  .itembCom {
    height: 600px;
  }
  
  .itemcCom {
    padding: 0px 60px  0 50px;
    background-size: 90%;
    height: 600px;
  }

  form {
    margin-top: -25px;
  }
  
  button {
    font-size: 20px;
  }

  h5 {
    font-size: 20px;
  }
  
  p {
    font-size: 18px;
  }

  .itemdCom {
    margin-top: -50px;
    padding: 0 50px 0 0px;
  }

  input, textarea {
    font-size: 20px;
  }

  td {
    width: 800px
  }

  h2 {
    margin: 200px 200px 0 200px;
  }

  nav {
    width: 150px;
    height: 150px;
  }

  .center-button {
    height: 33%;
    width: 33%;
    top: 33%;
    left: 33%;
  }

  .button {
    width: 46%;
    height: 46%;
  }

  .itemc1993 {
    padding: 500px 0 0 10px;
  }
  
  .itemb1980 img {
    width: 90%;
    padding: 0 200px 0 0px;
  }

  .itemc2016 {
    padding: 500px 10px 0 10px;
  }

  .arrow-up{
    padding: 21px 0 0 0;
    margin-left: 7px;
  }
  .arrow-down{
    padding: 0 0 0 0;
    margin-left: 18px;
    margin-top: 22px;
  }
  .arrow-left{
    padding: 0 0 0 0;
    margin-left: 14px;
    margin-top: 21px;
  }
  .arrow-right{
    padding: 0 0 0 0;
    margin-left: 16px;
    margin-top: 19px;
  }

  .itemd264{
    padding: 0 0 0 30px;
  }

  .user {
    font-size: 16px;
    }
    
    .post { 
      font-size: 22px;
    }
    
    .likes{
      font-size: 25px;
    }
}

@media only screen and (max-width: 1200px) {
  .header {
    padding: 20px 30px 0 30px;
  }

  .grid {
    width: 1000px;
    grid-column-gap: 10px;
  }

  #video {
    width: 700px;
    height: 500px;
  }

  .itemaCom {
    padding-left: 0;
  }

  .itembCom {
    height: 500px;
    margin-left: 0;
  }
  
  .itemcCom {
    padding: 0px 30px 0px 30px;
    background-size: 100%;
    height: 500px;
  }

  #video1 {
    width: 800px;
    height: 600px;
  }

  .btns {
    padding: 300px 0 0 20px;
  }

  form {
    margin-top: -25px;
  }
  
  button {
    font-size: 20px;
  }

  h4 {
  font-size: 30px;
  }

  .itemdCom {
    margin-top: -50px;
    padding: 0 100px 0 0;
  }

  input, textarea {
    font-size: 20px;
  }

  textarea {
    height: 100px;
    width: 600px;
  }

  td {
    width: 580px
  }

  h2 {
    font-size: 25px;
    margin: 200px 150px 0 150px;
  }

  .itema {
    padding: 0 0 0 50px;
  }

  .itemc {
    padding: 300px 0 0 10px;
    background-size: 120%;
  }


  .itemc1993 {
    padding: 300px 0 0 0;
  }

  .itemb2018 img{
    width: 75%;
    padding: 0 0px 0 0px;
  }

  .itemb1980 img {
    width: 100%;
    padding: 0 300px 0 0px;
  }
  .itemc2016 {
    padding: 300px 10px 0 10px;
  }

  .itemc264{
    background-size: 50%;
  }
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 50px;
  }
  .grid {
    width: 750px;
  }

  #video {
    width: 600px;
    height: 350px;
    margin: 0 0 0 0;
  }

  .itembCom {
    height: 400px;
  }
  
  .itemcCom {
    grid-column: 1 / span 4;
    padding: 0px 20px 0 0;
    background-size: 30%;
    height: 400px;
    background-position: center bottom;
  }

  .btns{
    padding: 190px 25px 0 60px;
  } 

  form {
    margin-top: -25px;
  }
  
  button {
    font-size: 20px;
  }

  h5 {
    font-size: 20px;
  }
  
  p {
    font-size: 18px;
  }

  .itemdCom {
    grid-column: 1 / span 4;
    margin-top: -50px;
    padding: 0 0px 0 0;
  }

  hr{
    width: 400px;
  }

  input, textarea {
    font-size: 20px;
  }

  textarea{
    width: 350px;
  }

  h2 {
    font-size: 20px;
    margin: 200px 100px 0 100px;
  }

  .itema {
    padding: 0 0 0 25px;
    grid-column: 1 / span 3;
  }

  .itemb {
    grid-column: 1 / span 2;
  }

  .itemc {
    padding: 170px 0 0 10px;
    background-size: 140%;
    margin-right: 20px;
  }

  .itemb2018 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .itemb2018 img {
    width: 75%;
  }

  .itemc2016 {
    padding: 270px 10px 0 10px;
  }

  h3 {
    font-size: 18px;
  }

  .user {
    font-size: 15px;
    }
    
    .post { 
      font-size: 20px;
    }
    
    .likes{
      font-size: 25px;
    }
    .itemc264{
      background-size: 40%;
    }
}


@media only screen and (max-width: 769px) {
  h1 {
    font-size: 40px;
  }
  .grid {
    width: 620px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  #video {
    width: 500px;
    height: 300px;
  }

  #video1 {
    width: 500px;
    height: 300px;
    padding: 0 0 0 0;
  }

  .itema {
    padding: 0 0 0 50px;
    grid-column: 1 / span 3;
  }

  .itemb {
    grid-column: 1 / span 3;
    display: block;
    margin: 0 auto;
  }

  .itemc {
    padding: 50px 0 0 10px;
    background-size: 40%;
    grid-column: 1 / span 3;
  }
  
  .itemcCom {
    padding: 0px 0px 0 0;
    background-size: 35%;
    background-position: center bottom;
    height: 250px;
  }

  .btns{
    padding: 50px 0px 0 20px;
  } 

  form {
    margin-top: -20px;
  }
  
  button {
    font-size: 15px;
    padding: 10px 20px;
  }

  hr{
    width: 300px;
  }

  h5 {
    font-size: 18px;
  }
  
  p {
    font-size: 15px;
  }

  .itemdCom {
    margin-top: -50px;
    padding: 0 0 0 0;
  }

  input, textarea {
    font-size: 20px;
  }
  
  input {
    width: 200px;
  }

  textarea {
    width: 400px;
    height: 50px;;
  }

  .itemc264{
    background-size: 50%;
  }
 
}

@media only screen and (max-width: 600px) {
  .grid {
    width: 370px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  #video, #video1 {
    width: 300px;
    height: 200px;
  }

  .itema {
    padding: 0 0 0 30px;
    grid-column: 1 / span 3;
  }

  .itemc {
    padding: 50px 0 0 10px;
    background-size: 60%;
  }

  .itemaCom {
    padding:0 0 0 0;
  }

  .itembCom {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
  }
  
  .itemcCom {
    padding: 0 0 0 0;
    background-size: 60%;
    height: 300px;
    margin: 0 0 0 0;
  }

  .btns{
    padding: 100px 30px 0 40px;
  } 

  form {
    margin-top: -20px;
  }
  
  button {
    font-size: 20px;
    padding: 15px 25px;
  }

  h5 {
    font-size: 20px;
  }

  hr {
    width: 150px;
  }
  
  p {
    font-size: 18px;
  }

  .itemdCom {
    margin-top: -50px;
    padding: 0 0 0 0;
  }

  input, textarea {
    font-size: 20px;
  }
  
  input {
    width: 100px;
  }

  textarea {
    width: 300px;
    height: 75px;;
  }

  .itemb2018 img {
    width: 100%;
  }


  .itemd264{
    padding: 0 10px;
  }

  .user {
    font-size: 12px;
    }
    
    .post { 
      font-size: 16px;
    }
    
    .likes{
      font-size: 20px;
    }
    .itemc264{
      background-size: 100%;
    }
}

@media only screen and (max-width: 370px) {
  .grid {
    width: 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  #video, #video1 {
    width: 300px;
    height: 200px;
  }

  .itembComVideo {
    margin: 0 0 0 0;
  }

  .itema {
    padding: 0 0 0 0;
    grid-column: 1 / span 3;
  }

  .itemb {
    margin-left: 0;
  }

  .itemc {
    padding: 50px 0 0 10px;
    background-size: 80%;
  }

  textarea {
    width: 250px;
  }
}
