body {
  margin: 0;
  padding: 0;
  background: #050506;
}

.header {
  padding: 30px 50px 0 50px;
}

#logo a {
  text-decoration: none;
  transition: color 0.5s ease;
  position: block;
  margin: 0 auto;
}

#logo img {
  width: 200px;
  height: 100px;
}

#logo a:hover {
  opacity: 0.7;
}

/*============ Title =============*/
h1 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: left;
  color: white;
  margin: 30px auto 0 auto;
  justify-content: center;
}

/*============ Page Content =============*/
.grid {
  margin: auto;
  display: grid;
  height: auto;
  width: 1700px;
  padding-left: 20px;
  padding-right: 20px;
  grid-column-gap: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: -20px;
  margin-bottom: 10px;
}

.itema {
  grid-column: 1 / span 4;
  overflow: hidden;
  padding: 0 0 0 110px;
}

.itemb {
  grid-column: 1 / span 3;
  overflow: hidden;
}

.itemc {
  overflow: hidden;
  padding: 550px 0 0 20px;
  background-image: url("remote/remote.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 120%;
}

/*============ Content =============*/
#img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

#video {
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 800px;
}

#audio {
  display: block;
  margin: 20px 700px 0 0;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
  margin: 200px 300px 0 300px;
}

h2:hover {
  color: yellow;
  text-decoration: underline;
}

/*============ Remote Buttons =============*/
/*============ Created by Codepen user: Valentin =============*/
/*============ Link to original code: https://codepen.io/vescoyez/pen/ulFtz =============*/

nav {
  width: 200px;
  height: 200px;
  background: #82807f;
  border-radius: 50%;
  padding: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: inset -12px 0 12px -6px #40403f, inset 12px 0 12px -6px #40403f,
    inset 0 0 0 12px #40403f, inset 2px 0 4px 12px rgba(0, 0, 0, 0.4),
    1px 0 4px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  position: relative;
  margin: 30px auto;
}

a {
  text-decoration: none;
}

.center-button {
  display: block;
  height: 36%;
  width: 36%;
  position: absolute;
  top: 32%;
  left: 32%;
  background: #40403f;
  border-radius: 50%;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.8);
}

.button {
  display: block;
  width: 46%;
  height: 46%;
  margin: 2%;
  position: relative;
  float: left;
  box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.4), inset 0 0 0 1px #40403f;
}

.button::after {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  background: #82807f;
  position: absolute;
  border-radius: inherit;
}

.button.top {
  border-radius: 100% 0 0 0;
  background: -webkit-radial-gradient(
    bottom right,
    ellipse cover,
    #40403f 35%,
    #40403f 75%
  );
  background: radial-gradient(
    bottom right,
    ellipse cover,
    #40403f 35%,
    #40403f 75%
  );
}

.button.top::after {
  bottom: 0;
  right: 0;
  -webkit-transform: skew(-3deg, -3deg) scale(0.96);
  -moz-transform: skew(-3deg, -3deg) scale(0.96);
  transform: skew(-3deg, -3deg) scale(0.96);
}

.button.right {
  border-radius: 0 100% 0 0;
  background: -webkit-radial-gradient(
    bottom left,
    ellipse cover,
    #40403f 35%,
    #40403f 75%
  );
}

.button.right::after {
  bottom: 0;
  left: 0;
  -webkit-transform: skew(3deg, 3deg) scale(0.96);
  -moz-transform: skew(3deg, 3deg) scale(0.96);
  transform: skew(3deg, 3deg) scale(0.96);
}

.button.left {
  border-radius: 0 0 0 100%;
  background: -webkit-radial-gradient(
    top right,
    ellipse cover,
    #40403f 35%,
    #40403f 75%
  );
  background: radial-gradient(
    top right,
    ellipse cover,
    #40403f 35%,
    #40403f 75%
  );
}

.button.left::after {
  top: 0;
  right: 0;

  -webkit-transform: skew(3deg, 3deg) scale(0.96);
  -moz-transform: skew(3deg, 3deg) scale(0.96);
  transform: skew(3deg, 3deg) scale(0.96);
}

.button.bottom {
  border-radius: 0 0 100% 0;
  background: -webkit-radial-gradient(
    top left,
    ellipse cover,
    #40403f 35%,
    #40403f 75%
  );
  background: radial-gradient(
    top left,
    ellipse cover,
    #40403f 35%,
    #40403f 75%
  );
}

.button.bottom::after {
  top: 0;
  left: 0;
  -webkit-transform: skew(-3deg, -3deg) scale(0.96);
  -moz-transform: skew(-3deg, -3deg) scale(0.96);
  transform: skew(-3deg, -3deg) scale(0.96);
}

i {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  font-size: 42px;
  top: 36%;
  left: 39%;
  text-shadow: 1px 1px 4px #40403f, 0px 0px 0px rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.15);
}

.top i {
  top: 35%;
  left: 41%;
}

.left i {
  top: 41%;
  left: 35%;
}

.right i {
  top: 35%;
  left: 41%;
}

.bottom i {
  top: 39%;
  left: 42%;
}

@media only screen and (max-width: 2100px) {
  .grid {
    width: 1200px;
    grid-column-gap: 10px;
  }

  #video {
    width: 1000px;
    height: 600px;
  }

  .itema {
    padding: 0 0 0 20px;
  }

  .itemc {
    padding: 390px 0 0 20px;
    background-size: 130%;
  }

  h2 {
    margin: 200px 200px 0 200px;
  }

  nav {
    width: 150px;
    height: 150px;
  }

  .center-button {
    height: 33%;
    width: 33%;
    top: 33%;
    left: 33%;
  }

  .button {
    width: 46%;
    height: 46%;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    padding: 20px 30px 0 30px;
  }

  .grid {
    width: 900px;
    grid-column-gap: 10px;
  }

  #video {
    width: 900px;
    height: 500px;
  }

  h2 {
    font-size: 25px;
    margin: 200px 150px 0 150px;
  }

  .itema {
    padding: 0 0 0 50px;
  }

  .itemc {
    padding: 340px 0 0 10px;
    background-size: 140%;
  }

  nav {
    width: 120px;
    height: 120px;
  }

  .center-button {
    height: 29%;
    width: 29%;
    top: 35%;
    left: 35%;
  }
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 50px;
  }
  .grid {
    width: 750px;
    grid-column-gap: 10px;
  }

  #video {
    width: 600px;
    height: 350px;
    margin: 0 0 0 0;
  }

  h2 {
    font-size: 20px;
    margin: 200px 100px 0 100px;
  }

  .itema {
    padding: 0 0 0 25px;
    grid-column: 1 / span 3;
  }

  .itemb {
    grid-column: 1 / span 2;
  }

  .itemc {
    padding: 170px 0 0 10px;
    background-size: 140%;
    margin-right: 20px;
  }

  nav {
    width: 120px;
    height: 120px;
  }

  .center-button {
    height: 29%;
    width: 29%;
    top: 35%;
    left: 35%;
  }
}

/*=============== Still under Progress ============*/
@media only screen and (max-width: 769px) {
  h1 {
    font-size: 40px;
  }
  .grid {
    width: 600px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  #video {
    width: 650px;
    height: 250px;
  }

  .itema {
    padding: 0 0 0 120px;
    grid-column: 1 / span 3;
  }

  .itemb {
    grid-column: 1 / span 3;
  }

  .itemc {
    padding: 50px 0 0 10px;
    background-size: 40%;
    grid-column: 1 / span 3;
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    width: 370px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  #video {
    width: 450px;
    height: 200px;
  }

  .itema {
    padding: 0 0 0 30px;
    grid-column: 1 / span 3;
  }

  .itemb {
    margin-left: -30px;
  }

  .itemc {
    padding: 50px 0 0 10px;
    background-size: 60%;
  }
}

@media only screen and (max-width: 370px) {
  .grid {
    width: 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  #video {
    width: 300px;
    height: 200px;
  }

  .itema {
    padding: 0 0 0 0;
    grid-column: 1 / span 3;
  }

  .itemb {
    margin-left: 0;
  }

  .itemc {
    padding: 50px 0 0 10px;
    background-size: 80%;
  }
}
